/node_modules/
.env.* 
.env
credentials.env

/uploads/

*.log
logs/
*.tmp
*.temp
*.db
*.sqlite
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/dist/
/build/
/out/

.DS_Store
Thumbs.db

.vscode/
*.user

coverage/
package-lock.json 

frontend/images